Flask
Flask-JWT-Extended
Flask-RESTful
Flask-SQLAlchemy
Flask-BabelEx
Flask-Cors
Flask-Dropzone
Flask-Login
Flask-Mail
flask-marshmallow
flask-mongoengine
Flask-Principal
flask-restplus
Flask-Security
Flask-Uploads
Flask-WTF
marshmallow
marshmallow-sqlalchemy